* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-primary: #F4F5FB;
  --bg-secondary: #FFFFFF;

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;

  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

}

body {
  background-color: var(--bg-primary);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;

  width: 100%;
  max-width: 70rem;
  margin-inline: auto;
}

a {
  text-decoration: none;
}

@media (width <= 40rem) {
  body {
    padding: 3.2rem;
  }

  form {
    flex-direction: column;

    & input,
    & button {
      width: 100%;
    }
  }
}